#nav {
    position: fixed;
    overflow: hidden;
    margin: 0 auto 30px auto;
    background-color: #0F8BFF;
}

#profilePicture {
    margin-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profile {
    text-align: center;
}

#linkedin, #git {
    font-size: 2.5em;
}

#cv {
    margin-top: 1em;
}

#about, #skills, #achievements, #experiencesSchooling, #hoobies, #contact, #footer div {
    margin-top: 3em;
    margin-right: 10em;
    margin-left: 10em;
    text-align: justify;
}

#achievements img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.titles {
    text-align: center;
    margin-bottom: 1em;
}

footer {
    background-color: #E8860C;
}